In [1]:
import pandas as pd
import numpy as np

In [3]:
dataFrame = pd.read_excel("pythonExcel.xlsx")

In [4]:
print(dataFrame)

  Unnamed: 0  Salary   Age  Departman
0       Onur     300  29.0         IT
1       Ipek     400  24.0      Sales
2      Duygu     500  32.0  Marketing
3     Mehmet     500  40.0        NaN
4       Ayse     600   NaN    Finance
5     Berfin     550   NaN        Law

In [6]:
noNa = dataFrame.dropna() # drops NaN

In [8]:
noNa.to_excel("NewSalary.xlsx")

In [ ]:
## read_csv
## to_csv